<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas extrangeras</title>
  </head>
  <body>
    <h1>Peliculas extrangeras</h1>
    <ul>
        <% peliculas.forEach(pelicula => { %>
            <li><%= pelicula.titulo %></li>
        <% }); %>
    </ul>
  </body>
</html>