<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Peliculas</title>
  </head>
  <body>
    <h1>Peliculas</h1>
    <ul>
        <% resultado.forEach(pelicula => { %>
            <li><%= pelicula.titulo %></li>
        <% }); %>
    </ul>
  </body>
</html>