    <!------------------------------------- HEADER ---------------------------------------->
    <%- include('./header'); %>     
    <!------------------------------------- NAVBAR ---------------------------------------->
    <%- include('./navbar'); %>   
    <!------------------------------------- BODY ------------------------------------------>
    <h1>Películas Internacionales</h1>
    <table>
      <thead>
        <tr>
          <th>Título</th>
        </tr>
      </thead>
      <tbody>
        <% peliculas.forEach(pelicula => { %>
          <tr>
            <td><%= pelicula.titulo %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>        
    <!------------------------------------- FOOTER ------------------------------------------>
    <%- include('./footer'); %>