<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Peliculas Nacionales</title>
  </head>
  <body>
    <h1>Peliculas Nacionales</h1>
    <ul>
        <% peliculas.forEach(pelicula => { %>
            <li><%= pelicula.titulo %></li>
        <% }); %>
    </ul>
  </body>
</html>